*

!package.json
!bun.lock
!.gcloudignore
!.dockerignore

!apps/
apps/*
!apps/scraper/
!apps/scraper/**
!apps/server/
apps/server/*
!apps/server/package.json
!apps/web/
apps/web/*
!apps/web/package.json

!packages/
packages/*
!packages/auth/
!packages/auth/**
!packages/db/
!packages/db/**
!packages/types/
!packages/types/**
!packages/ui/
packages/ui/*
!packages/ui/package.json

**/.DS_Store
**/node_modules
**/.turbo
**/.next
**/.cache
**/.vite
**/dist
**/build
**/coverage
**/tmp
**/.env.local

apps/scraper/.env
apps/scraper/.env.local
